.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0;
}

.loadingDots {
    display: flex;
}

.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #1936d2; /* Purple color */
    margin: 0 7px;
    animation: pulse 1.5s infinite ease-in-out;
}

#dot2 {
    animation-delay: 0.5s;
}

#dot3 {
    animation-delay: 1s;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.6);
    }
}